.App {
    text-align: center;
  }
  
  .heading {
    font-family: "Bigelow Rules";
    font-size: 60px;
    color: #0ccac4;
    margin-top: 0rem;
  }

  h2{
      text-align: center;
      font-family: "Bigelow Rules";
      font-size: 60px;
      color: #000000;
  }