.card{
    background-color: lightblue;
    border-radius: 1rem;
    border: 1px solid grey;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    padding: 0.5m;
}
.card:hover{
    transform: scale(1.05);
    background-color: #ffffff;
}

.email{
    font-family: cursive;
}

